html {
background-color: black;
}


h1 {
color: white;
text-align:center;
font-weight: bold;
text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}


.column {
  flex: 50%;
  padding: 5px;
}


@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

img{
	
	height: 300px;
	
}


body {
  padding:2%;
}

strong{
	color:white;
}

ul{

  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  display:flex;



}

.main-menu{

  padding-inline-start: 0%;  
  
}

.main-menu > li {
  text-align: center;
  justify-content: center; 
  width: 20%;  
 
}

 .main-menu li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: center;
  padding: 14px;
  width: 100%;
  box-sizing: border-box;  

}

.active {
  background-color: white;
  color:black !important;
}

.main-menu >li a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color:black; 
}

.dropdown {
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-inline-start: 0px !important;
}



.dropdown-content > li> a{
  color: black;
  text-decoration: none;
  display: block;
  text-align: center; 
  width: 273.28px; 

}

.dropdown-content li a:hover {background-color: #b3b3b3;}

.dropdown:hover .dropdown-content {
  display: block; 
  }
